body{
    background-color: rgb(6, 46, 48);
    background-size: cover;
}
#me{
    flex-direction: row-reverse;
}
.topnav{
    
    padding-top: 20px;
    font-size: large;
    box-shadow: black;
    background-color: floralwhite;
    float: inline-end;
}
#bar{
    font: message-box;
    font-size: large;
    font-family: ;
}
#name{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: center;
    float: left;
    font-size: 30px;
    font-style: italic;
    font-family: fantasy;
}
#info{
    padding-top: 35px;
}